.root {
  display: flex;
  flex-direction: column;
  padding: 100px 16px 0;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.scrollable {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.scrollable::-webkit-scrollbar {
	width: 12px;
}
.scrollable::-webkit-scrollbar-track {
	background: #2F2F37;
}
.scrollable::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.totalSum {
  display: flex;
  align-items: center;
}

.totalSum svg {
  margin-left: 9px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item:last-child {
  margin-bottom: 0;
}

.item > div {
  flex: 1;
}

.item svg {
  margin-right: 5px;
}

