.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  width: 100%;
}

.form > div {
  width: 100%;
  margin-bottom: 24px;
}

.form > div > div {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}