.sectionTitle {
  text-align: left;
  color: #F2F2F3;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
}

.price {
  display: flex;
  align-items: center;
  color: #F2F2F3;
}

.price svg {
  margin-left: 9px;
}

.name {
  margin: 0;
  height: 48px;
  text-align: center;
  color: #F2F2F3;
}