.root {
  display: flex;
  max-width: 1260px;
  width: 100%;
  height: calc(100vh - 88px);
  margin: 88px auto 0;
  padding-top: 120px;
}

.tabs {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0;
  text-decoration: none;
  color: #8585AD;
  background-color: transparent;
  border: none;
  outline: none;
}

.active {
  color: #F2F2F3;
}

.description {
  margin-bottom: 0;
  color: #8585AD;
  opacity: 0.4;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  width: 100%;
}

.form > div {
  width: 100%;
  margin-bottom: 24px;
}

.form > div > div {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}