.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.root h4 {
  text-align: center;
}

.info {
  display: flex;
  width: 100%;
}

.infoItem {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.infoItem:first-child {
  min-width: 120px;
}

.infoItem span {
  color: #8585AD;
  text-align: center;
}